/*
COLORS
#0c0c0b Almost black (header)
#ececec Light gray (nav)
#d9d9d9 Dark gray (nav hover)
#0a3a62 Dark blue
*/

/* FONTS
PT Serif Italic (logo)
PT Serif Regular (h1-h6)
Work Sans (Link, Checkout)
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/

header {
  background-color: #0c0c0b;
  height: 428px;
}

.header-img {
  width: 1188px;
  float: right;
}

.logo {
  position: absolute;
  top: 0;
  left: 110px;
}

.logo-text {
  position: absolute;
  color: #81b640;
  font-size: 26px;
  font-family: 'PT Serif', serif;
  font-weight: lighter;
  font-style: italic;
  top: 185px;
  left: 110px;
}

.cart-icon {
  position: absolute;
  right: 200px;
  top: 70px;
}

.cart-price {
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: white;
  right: 135px;
  top: 85px;
}

.cart-button {
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: white;
  background-color: #81b640;
  padding: 5px 40px;
  border-radius: 2px;
  border: none;
  right: 130px;
  top: 110px;
}

/*END HEADER*/

/*TOP NAV*/

.nav-bar {
  background-color: #ececec;
  margin: 0;
  padding: 0;
  height: 60px;
}

.head-li {
  width: 100px;
  margin: auto;
  display: inline;
}

.head-a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #0a3a62;
  float: left;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.head-nav {
  margin-left: 200px;
}

.head-a:hover {
  background-color: #d9d9d9;
}

/*END TOP NAV*/

.intro-text {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 600px;
  margin-right: 200px;
}

.home-h1 {
  font-family: 'PT Serif', serif;
  color: #0a3a62;
  font-size: 30px;
  padding-bottom: 12px;
}

.dogs-h1 { /* H1 for Blog and Dogs page */
  font-family:'PT Serif', serif;
  color: #0a3a62;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 200px;
}

.home-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h2 {
  font-family: 'PT Serif', serif;
  color: #0a3a62;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 6px;
}

.dog-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.cost {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 6px;
}

.home-img {
  float: left;
  margin-left: 200px;
  width: 369px;
  height: 333px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float: left;
  margin-left: 180px;
  margin-right: 200px;
  justify-content: space-around;
}

.flex-container > div {
  width: 190.4px;
  margin-top: 50px;
  overflow: visible;
  border: 3px solid #ECECEC;
}

.dog {
  width: 190.4px;
  height: 113.6px;
}

.adopt-button {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #81b640;
  padding: 8px 65px;
  margin: 10px 10px 10px 10px;
  border-radius: 2px;
  border: none;
}

.more-button {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #0a3a62;
  background-color: #ececec;
  padding: 10px 40px;
  border-radius: 2px;
  margin-top: 40px;
  border: none;
  position: relative;
}


footer {
  background: #0a3a62;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  text-align: center;
  margin-top: 90%;
}

.alt-footer { /* FOR BLOG AND CHECKOUT */
  margin-top: 50px;
  height:400px;
}

.footer-text {
  width: 500px;
  margin-left: 30%;
  margin-top: -2%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.foot-li {
  display: inline;
}

.foot-a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 3.0;
  padding: 20px 16px;
}

.copyright {
    padding-bottom: 40px;
}

/* SPECIFIC TO BLOG */
.blog-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 500px;
  margin-right: 200px;
}

.blog-h2 {
  font-family: 'PT Serif', serif;
  color: #0a3a62;
  font-size: 20px;
  margin-left: 500px;
}

.blog-image {
  float: left;
  margin-left: 200px;
  width: 258.3px;
  height: 233.1px;
}

/*SPECIFIC TO CHECKOUT*/

.check-h1 {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  font-weight: 600;
  color: #102D66;
  text-align: left;
  margin-left: 200px;
  margin-top: 30px;
}

label {
  font-family: 'PT Serif', serif;
  color: #102D66;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-left: 200px;
}

input {
  width: 40%;
  text-align: left;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 20px;
 box-sizing: border-box;
}

.city {
  width: 14%;
  display:inline-block;
  margin-right:-80px;
}

.state {
  margin-left: 100px;
  margin-bottom: 20px;
  display:inline-block;
}

.state-list {
  width: 5%;
  padding: 16px 20px;
}

.zipcode {
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.first-time, .adopted-h2 {
  font-family: 'PT Serif', serif;
  font-weight: 600;
  font-size: 17px;
  color: #102D66;
  text-align:left;
  margin-left: 200px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.radio {
  vertical-align: middle;
  position: absolute;
  margin-left: -90px;
}

.yes-no {
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  margin-right: -100px;
}

.pickup {
  width: 14%;
  padding: 16px 20px;
  text-align: left;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 200px;
}

h3 {
  font-family: 'PT Serif', serif;
  font-weight: 600;
  font-size: 17px;
  color: #102D66;
  padding-left: 10px;
}

.cost {
  font-family: 'Work Sans', sans-serif;
  padding-right: 10px;
}

.total {
  margin-left: 210px;
  font-family: 'Work Sans', sans-serif;
  margin-top: -15px;
  font-size: 17px;
}

.submit-button {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #81b640;
  padding: 8px 65px;
  margin-left: 200px;
  margin-top: 20px;
  border-radius: 2px;
  border: none;
}
